<%-include("Partials/header")-%>
<div class="container ftco-section ">
  <div class="row wizard-v6-content">
    <div class="col-lg-6 offset-lg-3">
      <div class="card wizard-form">
        <img src="<%= t.avatar %> " class=" circular--landscape text-center out " alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-transform: capitalize;"><b>
              <%= t.username %>
            </b></h5>
          <a href="mailto:<%= t.email %>" class="card-text tex-muted" style="text-decoration: none;"><i class="fas fa-envelope" style="transform: rotate(-5deg);"></i> <%= t.email %>
          </a>
          <p class="card-text tex-muted"><i class="fas fa-phone"></i>
            <%= t.contact %>
          </p>
        </div>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item wizard-form form-register">Account Balance <b>Rs <%= t.Balance %></b></li>
          <li class="list-group-item tex-muted wizard-form form-register"><b>About: </b>
            <%= t.about %>
          </li>
        </ul>
        <div class="card-body">

          <a class="btn btn-success col-lg-12 mt-1 mt-md-0 outt" href="/customer/<%= t._id %>/transfer">Transfer Money</a>
          <a class="btn btn-danger col-lg-6" href="/customer/<%= t._id %>/history">Transfer history</a>
          <a class="btn btn-primary col-lg-5 mt-1 mt-sm-0" href="/customer">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


<%-include("Partials/footer")-%>
